
/* Minesweeper */
.arcade-mine-flagImage, .arcade-mine-mineImage {
    width: 90%;
    height: 90%;
    position: relative;
    top: -5%;
  }
  
  .arcade-mine-tile.wrongflag {
    background: darkred;
  }
  
  .arcade-mine-tile.unopened {
    background: silver;
  }
  
  .arcade-mine-tile.opened, .arcade-mine-tile.flagged, .arcade-mine-tile.reveal {
    background: #fff
  }
  
  .arcade-mine-tile.mine {
    background: red;
  }
  
  .arcade-mine-game {
    position: absolute;
    margin-top: 20px;
    transform-origin: top left;
  }
  
  .arcade-mine-tile {
    position: absolute;
    border: 1px solid black;
    color: #000;
    text-align: center;
    vertical-align: middle;
    line-height: 31px;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    font-weight: 500;
  }
  
  .arcade-mine-hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .arcade-mine-title {
    margin-top: 10px;
  }
  
  .arcade-mine-title-inner {
    padding: 0 15px;
    line-height: 38px;
    vertical-align: middle;
  }
  
  .arcade-mine-scores {
    height: 30px;
    display: flex;
    padding: 3px 15px;
    font-weight: 500;
  }
  
  .arcade-mine-scoreSection {
    flex: 1;
  }