/* Home -> Changelog */
.arcade-changelog-container {
    padding-top: 10px;
    height: 100%;
    overflow: auto;
}

/* Home -> Highscore */
.arcade-highscore-outer {
    padding: 0 max(2vw, 10px);
}
  
.arcade-highscore-row {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
}
  
.arcade-highscore-row:first-of-type {
    border-top: none;
}
  
/* Home -> Home Outer */
.arcade-home-content {
    display: flex;
    height: calc( 100vh - 56px );
    background: var(--main-light);
}
  
.arcade-home-content .arcade-home-sidebar {
    flex: 1;
    height: 100%;
}

.arcade-home-content .arcade-home-main {
    flex: 4;
    height: 100%;
}

/* Home -> Sidebar */
.arcade-sidebar-nav {
    padding-top: 20px;
    border-right: 1px solid #dee2e6;
    padding-left: 10px;
    width: 20vw;
    font-weight: 500;
    height: 100%;
    background: var(--main-dark);
    -webkit-box-shadow: inset -9px 0px 14px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: inset -9px 0px 14px 0px rgba(0,0,0,0.23);
    box-shadow: inset -9px 0px 14px 0px rgba(0,0,0,0.23);
}
  
.arcade-sidebar-nav .nav-item {
    margin-right: -1px;
}

.arcade-sidebar-nav .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: var(--text-light);
}

.arcade-sidebar-nav .nav-link:hover {
    background-color: var(--shade-blue);
    border: 1px solid transparent;
    margin-right: 1px;
    -webkit-box-shadow: inset -9px 0px 14px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: inset -9px 0px 14px 0px rgba(0,0,0,0.23);
    box-shadow: inset -9px 0px 14px 0px rgba(0,0,0,0.23);
}

.arcade-sidebar-nav .nav-link.active {
    color: var(--text-dark);
    /* background-color: #9EB7E5; */
    background-color: var(--main-light);
    border-color: #dee2e6 transparent #dee2e6 #dee2e6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
  