/* General */
body {
  overflow: hidden;
}
.small-padding {
  padding: 0 0.5rem !important;
}

/* General -> Header */
.arcade-header-nav {
  padding: 0;
}

.arcade-header-brand {
  padding: 0.8125rem 0 0.8125rem 1rem;
}

.arcade-header-link {
  padding: 1rem 0.75rem !important;
  transition: background-color 0.5s;
}

.arcade-header-link:hover, .arcade-header-link:active {
  background-color: #b2edff96;
  transition: background-color 0.5s;
}

.arcade-header-link.active {
  background-color: #87f4ff66;
}

/* General -> Sign In */
.signinLabel {
  letter-spacing: 5px;
  font-weight: 300;
  color: grey;
  font-size: 1.1rem;
  margin-bottom: max(3vh, 10px);
}
.signinBtn {
  width: max(50%, 30px);
  margin: auto;
  display: block;
}
.signinBtnFull {
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
}
.signinColRight {
  border-left: 1px solid #d5d5d5;
}
@media screen and (max-width: 768px) {
  .signinColRight {
    border-left: none;
  }
}
.signinBox {
  width: 800px;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .signinBox {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .signinBox {
    width: 500px;
  }
}

/* General -> Buttons */
.arcade-btn-blue {
  color: #fff;
  background-color: #57ccf8;
  border-color: #57ccf8;
}

.arcade-btn-blue:hover {
  color: #fff;
  background-color: #57c4f8;
  border-color: #57c4f8;
}

.arcade-btn-lgNav {
  width: 100%;
  background: #fff;
  height: 4rem;
  line-height: 4rem;
  vertical-align: middle;
  border-left: 2px solid #007bff;
  border-radius: 0;
  text-align: left;
  padding: 0 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-repeat: no-repeat;
  color: #007bff;
}

.arcade-btn-lgNav:hover {
  color: #007bff;
  border-left-color: #e48d1f;
  background-image: linear-gradient(90deg, #e48d1f85 0%, #e48d1f85 20%, #fff 70%);
  animation: gradientFill 500ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes gradientFill {
  0% {
    background-size: 0%;
    text-shadow: none;
  }
  100% {
    background-size: 100%;
    text-shadow: 0 0 15px #e48d1f50, 0 0 10px #e48d1f50;
  }
}