/* General */
body {
  overflow: hidden;
}
.small-padding {
  padding: 0 0.5rem !important;
}


/* 2048 */
.arcade-2048-tile {
  z-index: 3;
}

.arcade-2048-tile, .arcade-2048-tile-background {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 101px;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  font-weight: 700;
  border-radius: 5px;
  font-size: 3rem;
}

.arcade-2048-tile-background {
  background-color: #CDC1B4;
  z-index: 2;
}

.arcade-2048-game {
  position: absolute;
  margin-top: 20px;
  transform-origin: top left;
  border-radius: 5px;
  background: #BBADA0;
  z-index: 1;
}

.arcade-2048-title {
  margin-top: 10px;
}

.arcade-2048-title-inner {
  padding: 0 15px;
  line-height: 38px;
  vertical-align: middle;
}


/* Minesweeper */
.arcade-mine-flagImage, .arcade-mine-mineImage {
  width: 90%;
  height: 90%;
  position: relative;
  top: -5%;
}

.arcade-mine-tile.wrongflag {
  background: darkred;
}

.arcade-mine-tile.unopened {
  background: silver;
}

.arcade-mine-tile.opened, .arcade-mine-tile.flagged, .arcade-mine-tile.reveal {
  background: #fff
}

.arcade-mine-tile.mine {
  background: red;
}

.arcade-mine-game {
  position: absolute;
  margin-top: 20px;
  transform-origin: top left;
}

.arcade-mine-tile {
  position: absolute;
  border: 1px solid black;
  color: #000;
  text-align: center;
  vertical-align: middle;
  line-height: 31px;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  font-weight: 500;
}

.arcade-mine-hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.arcade-mine-title {
  margin-top: 10px;
}

.arcade-mine-title-inner {
  padding: 0 15px;
  line-height: 38px;
  vertical-align: middle;
}

.arcade-mine-scores {
  height: 30px;
  display: flex;
  padding: 3px 15px;
  font-weight: 500;
}

.arcade-mine-scoreSection {
  flex: 1;
}



/* Tetris */
.arcade-tetris-leftButtons {
  margin-top: 180px;
  width: 100%;
}
.arcade-tetris-leftButtons .btn {
  display: block;
  margin: auto;
}

.arcade-tetris-paused {
  font-size: 50%;
  opacity: 0.8;
  color: #fff;
  margin-left: 10px;
  background: red;
  padding: 3px 5px;
  border-radius: 5px;
}

.arcade-tetris-paused:empty {
  background: initial;
}

.arcade-tetris-nextshape {
  position: absolute;
  left: calc( 50% - 45px );
}

.arcade-tetris-scores {
  margin-top: 3vh;
  vertical-align: center;
  line-height: 3.5rem;
}

.arcade-tetris-desc {
  font-size: 1.2rem;
}

.arcade-tetris-score {
  font-size: 2rem;
}

.arcade-tetris-outer {
  margin-top: 5vh;
}

.arcade-tetris-game {
  width: 100%;
  transform-origin: top left;
}

.arcade-tetris-row {
  margin: 0 auto;
}

.arcade-tetris-tile {
  position: absolute;
  border: 1px solid black;
}

/* Game -> In Game */
.arcade-game-toosmall {
  display: none;
  color: red;
}

@media (max-width: 768px) {
  .arcade-game-toosmall {
    display: block;
  }
}

/* Game -> Game Select */
.arcade-list-card:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.arcade-list-card {
  max-width: 300px;
  margin: auto;
  transition: transform 0.5s;
  cursor: pointer;
}

.arcade-play-list {
  margin-top: max(3vh, 20px);
  overflow: visible;
}

/* Game -> Game Outer */
.arcade-play-content {
  padding-top: max(5vh, 30px);
  padding-left: 5vw;
  padding-right: 5vw;
}

/* Home -> Container Scrolls */
.arcade-changelog-container, .arcade-dashboard-container {
  overflow: auto;
  height: calc(100vh - 100px);
}

/* Home -> Dashboard */
.arcade-dashboard-title-small {
  font-size: 60%;
}

.arcade-dashboard-goPlay {
  margin-top: max(2vh, 10px);
}

/* Home -> Highscore */
.arcade-highscore-outer {
  padding: 0 max(2vw, 10px);
}

.arcade-highscore-row {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}

.arcade-highscore-row:first-of-type {
  border-top: none;
}

/* Home -> Home Outer */
.arcade-home-content {
  display: flex;
  padding-top: 20px;
}

.arcade-home-content .arcade-home-sidebar {
  flex: 1;
}

.arcade-home-content .arcade-home-dashboard {
  flex: 4;
}

/* Home -> Header */
.arcade-header-nav {
  padding: 0;
}

.arcade-header-brand {
  padding: 0.8125rem 0 0.8125rem 1rem;
}

.arcade-header-link {
  padding: 1rem 0.75rem !important;
  transition: background-color 0.5s;
}

.arcade-header-link:hover, .arcade-header-link:active {
  background-color: #b2edff96;
  transition: background-color 0.5s;
}

.arcade-header-link.active {
  background-color: #87f4ff66;
}

/* Home -> Sidebar */
.arcade-sidebar-nav {
  border-right: 1px solid #dee2e6;
  margin-left: 10px;
  width: 20vw;
  font-weight: 500;
  height: calc( 100vh - 80px );
}

.arcade-sidebar-nav .nav-item {
  margin-right: -1px;
}

.arcade-sidebar-nav .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.arcade-sidebar-nav .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #fff #dee2e6 #dee2e6;
}

/* General -> Sign In */
.arcade-btn-blue {
  color: #fff;
  background-color: #57ccf8;
  border-color: #57ccf8;
}

.arcade-btn-blue:hover {
  color: #fff;
  background-color: #57c4f8;
  border-color: #57c4f8;
}

.signinLabel {
  letter-spacing: 5px;
  font-weight: 300;
  color: grey;
  font-size: 1.1rem;
  margin-bottom: max(3vh, 10px);
}
.signinBtn {
  width: max(50%, 30px);
  margin: auto;
  display: block;
}
.signinBtnFull {
  width: 90%;
  margin: auto;
  display: block;
}
.signinColRight {
  border-left: 1px solid #d5d5d5;
}
@media screen and (max-width: 768px) {
  .signinColRight {
    border-left: none;
  }
}
.signinBox {
  width: 800px;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .signinBox {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .signinBox {
    width: 500px;
  }
}
